@import "../../../styles/variables.sass"

.smartphone-icon-large, .smartphone-icon-small
  position: relative
  display: flex
  justify-content: center

.smartphone-icon-large
  transform: scale(2.5)

.smartphone-icon-small
  width: 7rem

.device-status-wrapper
  align-self: center
  display: flex
  align-items: center
  justify-content: center
  transform: scale(0.4)
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

.smartphone-icon-large,
.smartphone-icon-small,
.device-status-wrapper

  &.clientcolor
    svg
      g, path, rect
        fill: var(--client-maincolor)
