@import "../../../styles/variables.sass"

.loading-container
  text-align: center
  // padding: 4rem

$len: 688.5943603515625
$inner-len: 125.65643310546875
$time: 2s
$inner-time: 1s

.loading-spinner
  position: relative
  display: inline-block
  vertical-align: middle
  width: 1em
  height: 1em
  border: 3px solid transparent
  border-radius: 50%
  border-top-color: var(--client-maincolor)
  animation: spin 1s ease-in-out infinite, appear 500ms ease-in

  &:after
    position: absolute
    display: block
    top: -3px
    left: -3px
    right: -3px
    bottom: -3px
    content: ''
    border: 3px solid var(--client-maincolor)
    border-radius: 50%
    opacity: 0.2

  &.is-white
    border: 3px solid rgba($c-blank, 0.2)
    border-top-color: $c-blank

    &:after
      border: 3px solid $c-blank

@keyframes spin
  to
    transform: rotate(360deg)

@keyframes appear
  from
    opacity: 0
  to
    opacity: 1

