@import "../../styles/variables.sass"

.button
  cursor: pointer
  display: flex
  justify-content: center
  flex-direction: column
  color: white
  background-color: $c-blue-main
  height: 4rem
  margin-top: 1rem
  text-align: center
  border-radius: 3px
  text-decoration: none
  &:visited,
  &:active,
  &:hover
    text-decoration: none
    color: $c-blank
  &.arrow
    justify-content: space-between

.button-content
  display: flex
  justify-content: center
  align-items: center

  > *
    margin: 0 .5rem
