@import "../../styles/variables.sass"

.button
  padding: 1rem
  cursor: pointer
  display: flex
  justify-content: center
  flex-direction: column
  color: white
  background-color: #f4f4f4
  border: 1px solid darken(#e9f4fd, 5%)
  margin-top: 1rem
  border-radius: 3px
  text-decoration: none
  transition: 300ms background
  &:visited,
  &:active,
  &:hover
    text-decoration: none
    background-color: darken(#e9f4fd, 2%)

  img
    max-width: 100%
