@import "../../../styles/variables.sass"

.desktop-icon-large, .desktop-icon-small
  position: relative
  display: flex
  justify-content: center

  &.clientcolor
    svg
      g, path
        fill: var(--client-maincolor)

.desktop-icon-large
  transform: scale(2.5)

.desktop-icon-small
  width: 7rem

.device-status-wrapper
  align-self: center
  display: flex
  align-items: center
  justify-content: center
  transform: scale(0.4)
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

  &.clientcolor
    svg
      g, path, rect
        fill: var(--client-maincolor)
