@import "../../styles/variables.sass"

.privacy-page
  height: 100%
  display: flex
  flex-direction: column
  align-self: stretch
  justify-content: center
  flex-grow: 1
  flex-shrink: 1
  flex-basis: auto
  padding: 1rem

.input-label
  display: block
  font-weight: bold
  font-size: .75rem
  margin-bottom: .2rem

.page-message
  text-align: center

.page-header
  margin-bottom: 0
  text-align: center

.link
  text-align: center
