@import "../../styles/variables.sass"

.support-page
  padding: 1rem

.input-label
  display: block
  font-weight: bold
  font-size: .75rem
  margin-bottom: .2rem
  margin-top: 1rem

.page-header
  text-align: center

.invalid
  border: 1px solid $c-status-red

.error
  font-size: .75rem
  color: $c-status-red
  margin-bottom: 1rem
