@import "../../styles/variables.sass"

.user-identification-page
  width: 100%
  width: 360px
  height: 600px
  display: flex
  flex-direction: column

.page-content
  padding: 1rem

.simple-navigation
  border-bottom: 1px solid $c-grey-4
  padding: 1rem
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 1rem

.logo
  height: 2rem
  display: block
  max-height: 100%
  max-width: 10rem
