@import "../../styles/variables.sass"

.message-sent-page
  height: 100%
  display: flex
  flex-direction: column
  align-self: stretch
  justify-content: center
  flex-grow: 1
  flex-shrink: 1
  flex-basis: auto
  padding: 1rem

.page-message
  text-align: center

.page-header
  margin-bottom: 0
  text-align: center
