@import "../../styles/variables.sass"

.navigation
  padding: 1rem
  display: flex
  justify-content: space-between
  align-items: center
  background-color: var(--client-maincolor)

  &.white
    background-color: $c-blank

.logo
  height: 2rem
  display: block
  max-height: 100%
  max-width: 10rem

.page-title
  font-size: 1rem
  margin: 0
  font-weight: initial
  color: $c-blank

.back-button
  display: block
  transition: all .3s

.navigation-overlay
  display: flex
  flex-direction: column
  justify-content: center
  width: calc(100% - 2rem)
  height: calc(100% - 2rem)
  position: absolute
  opacity: 0
  top: 0
  left: 0
  height: 0
  width: 0
  z-index: 3
  background-color: $c-black
  overflow: hidden
  transition-delay: 0ms,300ms,300ms
  transition: height 0ms 300ms,opacity 300ms ease-in,transform 300ms ease-in,visibility 300ms,width 0ms 300ms

  div
    margin: auto
    max-width: 20rem
    transition: all .3s
    transform: scale(1.3)

  a
    text-decoration: none
    text-align: center
    display: block
    color: $c-blank
    font-size: 1.5rem
    margin-bottom: .8rem

    &:visited
      color: $c-blank

  &.visible
    visibility: visible
    height: 100%
    width: 100%
    transition-delay: 0ms
    transition: height 0ms 0ms,opacity 300ms ease-out,transform 300ms ease-out,visibility 0ms,width 0ms
    opacity: 1
    div
      transform: scale(1)

.menu-checkbox
  display: none

