@import "../../styles/variables.sass"

.killswitch-container
  margin: 0 auto
  max-width: 32rem

.killswitch-card
  margin: 2rem 1rem
  padding: 2rem
  box-shadow: 0 0 12px 0px #cdcdcd
  border-radius: 8px
  background-color: $c-blank

.killswitch-header
  margin: 0rem 0 2rem
  text-align: center
  img
    display: block
    margin: 0 auto
    max-width: 64px

.killswitch-title
  // margin: 0
  font-size: 1.75rem
