@import "../../../styles/variables.sass"

.menu-icon
  display: flex
  justify-content: center
  align-items: center
  z-index: 4
  cursor: pointer
  width: 1.6rem
  height: 2rem
  transition: all .3s

.menu-icon-bar
  position: relative
  width: 100%
  height: .3rem
  border-radius: 1px
  transition: all .3s
  background-color: $c-black
  &:before,
  &:after
    transition: all .3s
    content: ''
    position: absolute
    width: 100%
    height: .3rem
    border-radius: 1px
    background-color: $c-black
    left: 0
  &:before
    top: -.5rem
  &:after
    top: .5rem

.menu-icon-bar-branded
  @extend .menu-icon-bar
  background-color: var(--client-maincolor)
  &:before,
  &:after
    background-color: var(--client-maincolor)


.menu-icon-closed
  .menu-icon-bar, .menu-icon-bar-branded
    background-color: transparent
    &:before,
    &:after
      background-color: $c-blank
    &:before
      transform: rotate(45deg) translate(.35rem, .35rem)
    &:after
      transform: rotate(-45deg) translate(.35rem, -.35rem)

