@import "../../styles/variables.sass"

.warning
  padding: 1rem
  border-top: 1px solid $c-grey-4
  border-bottom: 1px solid $c-grey-4

.warning-label
  display: flex

  div
    display: flex
    flex-direction: column
    justify-content: center

  h2, p
    margin: 0 0 0 1rem

  h2
    margin-bottom: .3rem

  p
    color: $c-grey-2

.warning-instructions
  background-color: $c-grey-4
  border-radius: 3px
  padding: 1rem
  margin-top: 3rem
