@import "../../styles/variables.sass"

.container
  padding: 0 1rem

.tracking-status
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  width: 100%

.graphic
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 5rem

  .tracker-status
    min-height: 6rem
    margin-top: 5rem

  .tracker-status-label, .tracker-status-message
    color: $c-black
    display: block
    text-align: center
    margin-bottom: .5rem
    span
      margin-right: 0.25rem

  .tracker-status-label
    font-weight: bold

.pause-resume
  cursor: pointer
  margin: auto
  margin-top: 5rem
  padding-bottom: 2rem

.pause-tracking-button
  width: 100%
  color: var(--client-maincolor)
