@import "../../styles/base.sass"

body
  // When we're building the plugin for Edge, we should check CSS variables again, as it is still on the roadmap for this browser
  --client-maincolor: #000000
  background-color: $c-blank
  padding: 0
  margin: 0
  font-size: 18px
  font-family: 'Lato', 'Lucida Grande', 'Franklin Gothic', sans-serif

p
  line-height: 1.45

h1, h2, h3, h4, h5, h6
  line-height: 1.2

button
  background: none
  border: 0
  padding: 0
  font-size: 1rem
  font-family: 'Lato', 'Lucida Grande', 'Franklin Gothic', sans-serif

input, textarea, select
  display: block
  resize: none
  appearance: none
  border: 1px solid $c-grey-3
  border-radius: 3px
  padding: .8rem
  width: calc(100% - 1.6rem)
  font-size: 1rem
  background: 0
  outline: none
  transition: all .3s

  &:focus
    border: 1px solid $c-blue-main

  &:invalid
    box-shadow: none

select
  width: 100%
  background: url('../../assets/images/arrow.png') no-repeat
  background-position: calc(100% - 1rem) center


textarea
  font-family: 'Lato'
  min-height: 6.5rem

.button
  cursor: pointer
  display: flex
  justify-content: center
  color: white
  background-color: $c-blue-main
  padding: 1.5rem 1rem
  margin-top: 1rem
  text-align: center
  border-radius: 3px
  text-decoration: none
  &:visited,
  &:active,
  &:hover
    text-decoration: none
    color: $c-blank

  &.arrow
    justify-content: space-between

a:hover, a:visited, a, a:active
  color: $c-blue-main
