@import "../../styles/variables.sass"

.devices
  height: 100%
  overflow-x: hidden
  display: flex
  flex-direction: column
  align-self: stretch
  flex-grow: 1
  flex-shrink: 1
  flex-basis: auto

  > div
    height: 100%
    display: flex
    flex-direction: column
    align-self: stretch
    flex-grow: 1
    flex-shrink: 1
    flex-basis: auto

.devices-tabs
  background-color: var(--client-maincolor)
  display: flex
  justify-content: center
  height: 2rem
  padding-bottom: .2rem

  .tab-button
    color: $c-blank
    margin: 0 .5rem
    align-self: flex-end
    cursor: pointer
    opacity: .5
    transition: all .3s

    &:after
      content: ''
      width: 100%
      transform: scale(1.1) translateY(.2rem)
      height: .2rem
      background-color: $c-blank
      display: block
      margin: auto
      opacity: 0
      transition: all .3s

    &.active
      opacity: 1

      &:after
        opacity: 1

.tabs-wrapper
  align-self: stretch
  flex-grow: 1
  flex-shrink: 1
  flex-basis: auto
  position: relative
  overflow: hidden

.tab-current-devices
  transform: translateX(-100%)

.tab-stopped-devices
  transform: translateX(100%)

.tab-current-devices,
.tab-stopped-devices
  width: calc(100% - 2rem)
  padding: 1rem
  position: absolute
  transition: all .3s
  opacity: 0
  max-height: 31rem
  overflow: scroll

  &.active
    transform: translateX(0)
    opacity: 1

.no-stopped-devices
  display: block
  width: 80%
  margin: auto
  text-align: center

  &:before
    content: '0'
    display: block
    font-size: 15rem
    opacity: 0.2
    color: rgba(0,0,0, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;

.header
  display: block
  font-weight: bold
  margin-top: 2rem

  + div
    margin-top: 1rem

.device
  margin-top: 1rem
  margin-bottom: 1rem
  border-radius: .5rem
  border: 1px solid rgba(0, 0, 0, .2)

.device-details
  position: relative
  padding: 1rem 1rem 1rem 0
  display: flex
  flex-flow: row wrap
  align-items: center
  cursor: pointer

  div:nth-of-type(3)
    position: absolute
    right: 1rem
    top: 2rem

.device-details-info
  display: flex
  flex-direction: column
  justify-content: center
  align-self: stretch

.device-more-details
  max-height: 0
  overflow: hidden
  transition: all .5s
  width: 100%
  border-top: 1px solid rgba(0, 0, 0, 0)

  span
    opacity: 0
    display: block
    transition: all .3s

    &.header
      color: $c-grey-2
      font-weight: normal
      margin-top: 1rem

  p
    margin-top: .5rem
    padding: 1rem


  &.active
    border-top: 1px solid rgba(0, 0, 0, .2)
    max-height: 15rem

    span
      opacity: 1

.device-status
  display: none

.loading
  padding-top: 5rem
