@import "../../../styles/variables.sass"

.resume-icon
  // animation-name: appear
  // animation-duration: .3s
  height: 2.5rem
  width: 2.5rem
  margin: 0 auto 1rem
  transform: translateX(.25rem)

  svg g
    fill: var(--client-maincolor)

